<a href="https://colab.research.google.com/github/disakuz/Python_netbooks/blob/main/OSHA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

https://drive.google.com/file/d/1KDBrTPvtyd8pzwSx_k9D4MoQdTaAitFz/view?usp=sharing

In [ ]:
!gdown --id 1KDBrTPvtyd8pzwSx_k9D4MoQdTaAitFz

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1KDBrTPvtyd8pzwSx_k9D4MoQdTaAitFz
To: /content/OSHA HSE DATA_ALL ABSTRACTS 15-17_FINAL.csv
100% 3.43M/3.43M [00:00<00:00, 175MB/s]

This dataset contains abstracts of the accidents and injuries of construction workers from 2015-2017. There is some structured data around the unstructured text abstracts, such as Degree of Injury, Body Part(s) Affected, and Construction End Use.

In [ ]:
df = pd.read_csv('/content/OSHA HSE DATA_ALL ABSTRACTS 15-17_FINAL.csv')

In [ ]:
df.head()

,summary_nr,Event Date,Abstract Text,Event Description,Event Keywords,con_end,Construction End Use,build_stor,Building Stories,proj_cost,...,Event type,evn_factor,Environmental Factor,hum_factor,Human Factor,task_assigned,Task Assigned,hazsub,fat_cause,fall_ht
0,220982664,8/10/2017,"At 9:00 a.m. on August 10, 2017, an employee w...",EMPLOYEE'S FINGERS AMPUTATED WHILE OPERATING A...,"FINGER,MECHANICAL POWER PRESS,AMPUTATION,GUARD",0,,0,,0,...,Caught in or between,2,Catch Point/Puncture Action,14,Other,1,Regularly Assigned,0,0,0
1,220973937,7/17/2017,"At 9:45 a.m. on July 17, 2017, an employee was...",EMPLOYEE'S FINGER IS CAUGHT IN DRILL AND IS AM...,"CAUGHT IN,DRIVE SHAFT,RESIDENTIAL CONSTRUCTION...",H,Other building,1,1,0,...,Caught in or between,18,Other,10,Position Inappropriate For Task,1,Regularly Assigned,0,0,0
2,220967632,6/30/2017,"At 7:30 a.m. on June 30, 2017, an employee was...",EMPLOYEE IS HOSPITALIZED AFTER BEING INJURED I...,"AMPUTATED,EXPLOSION,FIREWORKS",0,,0,,0,...,Other,18,Other,4,Malfunction In Securing/Warning Op,2,Not Regularly Assigned,0,0,0
3,220969901,6/30/2017,"At 2:00 p.m. on June 30, 2017, an employee was...",EMPLOYEE FALLS FROM ROOF AND IS INJURED,"RIB,ROOF,HEAD,FALL PROTECTION,FALL,COLLARBONE,...",C,Commercial building,1,1,D,...,Fall (from elevation),13,Work-Surface/Facility-Layout Condition,14,Other,1,Regularly Assigned,0,15,0
4,220977748,6/23/2017,"At 12:20 p.m. on June 23, 2017, an employee wa...",EMPLOYEE IS STRUCK BY PLYWOOD WHILE UNLOADING ...,"STRUCK BY,TRUCK,BRAIN,NECK,FRACTURE,UNSTABLE LOAD",0,,0,,0,...,Struck-by,6,Overhead Moving/Falling Object Action,15,Insufficient/Lack/Housekeeping Program,1,Regularly Assigned,0,0,0

## Подготовка данных

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4847 entries, 0 to 4846
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   summary_nr            4847 non-null   int64
 1   Event Date            4847 non-null   object
 2   Abstract Text         4847 non-null   object
 3   Event Description     4847 non-null   object
 4   Event Keywords        4847 non-null   object
 5   con_end               4847 non-null   object
 6   Construction End Use  4847 non-null   object
 7   build_stor            4847 non-null   int64
 8   Building Stories      4847 non-null   object
 9   proj_cost             4847 non-null   object
 10  Project Cost          4847 non-null   object
 11  proj_type             4847 non-null   object
 12  Project Type          4847 non-null   object
 13  Degree of Injury      4847 non-null   object
 14  nature_of_inj         4847 non-null   int64
 15  Nature of Injury      4845 non-null   object
 16  part_of_body          4847 non-null   int64
 17  Part of Body          4845 non-null   object
 18  event_type            4847 non-null   int64
 19  Event type            4845 non-null   object
 20  evn_factor            4847 non-null   int64
 21  Environmental Factor  4840 non-null   object
 22  hum_factor            4847 non-null   int64
 23  Human Factor          4840 non-null   object
 24  task_assigned         4847 non-null   int64
 25  Task Assigned         4847 non-null   object
 26  hazsub                4847 non-null   object
 27  fat_cause             4847 non-null   int64
 28  fall_ht               4847 non-null   int64
dtypes: int64(10), object(19)
memory usage: 1.1+ MB

In [ ]:
df.isna().mean()

summary_nr              0.000000
Event Date              0.000000
Abstract Text           0.000000
Event Description       0.000000
Event Keywords          0.000000
con_end                 0.000000
Construction End Use    0.000000
build_stor              0.000000
Building Stories        0.000000
proj_cost               0.000000
Project Cost            0.000000
proj_type               0.000000
Project Type            0.000000
Degree of Injury        0.000000
nature_of_inj           0.000000
Nature of Injury        0.000413
part_of_body            0.000000
Part of Body            0.000413
event_type              0.000000
Event type              0.000413
evn_factor              0.000000
Environmental Factor    0.001444
hum_factor              0.000000
Human Factor            0.001444
task_assigned           0.000000
Task Assigned           0.000000
hazsub                  0.000000
fat_cause               0.000000
fall_ht                 0.000000
dtype: float64

In [ ]:
df.columns

Index(['summary_nr', 'Event Date', 'Abstract Text', 'Event Description',
       'Event Keywords', 'con_end', 'Construction End Use', 'build_stor',
       'Building Stories', 'proj_cost', 'Project Cost', 'proj_type',
       'Project Type', 'Degree of Injury', 'nature_of_inj', 'Nature of Injury',
       'part_of_body', 'Part of Body', 'event_type', 'Event type',
       'evn_factor', 'Environmental Factor', 'hum_factor', 'Human Factor',
       'task_assigned', 'Task Assigned', 'hazsub', 'fat_cause', 'fall_ht'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [ ]:
df.columns

Index(['summary_nr', 'event_date', 'abstract_text', 'event_description',
       'event_keywords', 'con_end', 'construction_end_use', 'build_stor',
       'building_stories', 'proj_cost', 'project_cost', 'proj_type',
       'project_type', 'degree_of_injury', 'nature_of_inj', 'nature_of_injury',
       'part_of_body', 'part_of_body', 'event_type', 'event_type',
       'evn_factor', 'environmental_factor', 'hum_factor', 'human_factor',
       'task_assigned', 'task_assigned', 'hazsub', 'fat_cause', 'fall_ht'],
      dtype='object')

In [ ]:
len(df)

4847

In [ ]:
df.isna().mean()

summary_nr              0.000000
event_date              0.000000
abstract_text           0.000000
event_description       0.000000
event_keywords          0.000000
con_end                 0.000000
construction_end_use    0.000000
build_stor              0.000000
building_stories        0.000000
proj_cost               0.000000
project_cost            0.000000
proj_type               0.000000
project_type            0.000000
degree_of_injury        0.000000
nature_of_inj           0.000000
nature_of_injury        0.000413
part_of_body            0.000000
part_of_body            0.000413
event_type              0.000000
event_type              0.000413
evn_factor              0.000000
environmental_factor    0.001444
hum_factor              0.000000
human_factor            0.001444
task_assigned           0.000000
task_assigned           0.000000
hazsub                  0.000000
fat_cause               0.000000
fall_ht                 0.000000
dtype: float64

In [ ]:
df['nature_of_injury'] = df['nature_of_injury'].fillna('no_info')
df['part_of_body'] = df['part_of_body'].fillna('no_info')
df['event_type'] = df['event_type'].fillna('no_info')
df['environmental_factor'] = df['environmental_factor'].fillna('no_info')
df['human_factor'] = df['human_factor'].fillna('no_info')

In [ ]:
df.isna().mean()

summary_nr              0.0
event_date              0.0
abstract_text           0.0
event_description       0.0
event_keywords          0.0
con_end                 0.0
construction_end_use    0.0
build_stor              0.0
building_stories        0.0
proj_cost               0.0
project_cost            0.0
proj_type               0.0
project_type            0.0
degree_of_injury        0.0
nature_of_inj           0.0
nature_of_injury        0.0
part_of_body            0.0
part_of_body            0.0
event_type              0.0
event_type              0.0
evn_factor              0.0
environmental_factor    0.0
hum_factor              0.0
human_factor            0.0
task_assigned           0.0
task_assigned           0.0
hazsub                  0.0
fat_cause               0.0
fall_ht                 0.0
dtype: float64

In [ ]:
df.describe()

,summary_nr,build_stor,nature_of_inj,evn_factor,hum_factor,task_assigned,fat_cause,fall_ht
count,4.847000e+03,4847.000000,4847.000000,4847.000000,4847.000000,4847.000000,4847.000000,4847.0
mean,2.208956e+08,0.447287,11.852486,11.983701,9.456984,1.371157,3.065608,0.0
std,5.585438e+04,3.011749,7.634332,6.198560,6.161380,0.483164,7.247627,0.0
min,2.207779e+08,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
25%,2.208494e+08,0.000000,5.000000,7.000000,1.000000,1.000000,0.000000,0.0
50%,2.209189e+08,0.000000,12.000000,13.000000,13.000000,1.000000,0.000000,0.0
75%,2.209406e+08,0.000000,21.000000,18.000000,14.000000,2.000000,0.000000,0.0
max,2.209923e+08,139.000000,22.000000,18.000000,20.000000,2.000000,30.000000,0.0

In [ ]:
df['event_description'].value_counts().head(10)

EMPLOYEE FALLS FROM ROOF AND IS KILLED           46
EMPLOYEE FALLS FROM LADDER AND IS KILLED         43
EMPLOYEE DIES FROM HEART ATTACK                  34
EMPLOYEE FALLS FROM SCAFFOLD AND IS KILLED       21
EMPLOYEE FALLS THROUGH SKYLIGHT AND IS KILLED    18
EMPLOYEE IS KILLED IN FALL FROM ROOF             16
EMPLOYEE IS KILLED IN FALL                       14
EMPLOYEE FALLS FROM LADDER AND IS INJURED        12
EMPLOYEE IS KILLED IN FALL FROM LADDER           11
EMPLOYEE FALLS AND IS KILLED                     10
Name: event_description, dtype: int64

In [ ]:
df['construction_end_use'].value_counts().head(10)

                                    3820
Commercial building                  279
Single family or duplex dwelling     193
Other building                       139
Multi-family dwelling                132
Highway, road, street                 84
Manufacturing plant                   39
Pipeline                              34
Other heavy construction              32
Sewer/water treatment plant           20
Name: construction_end_use, dtype: int64

In [ ]:
df.head(3)

,summary_nr,event_date,abstract_text,event_description,event_keywords,con_end,construction_end_use,build_stor,building_stories,proj_cost,...,event_type,evn_factor,environmental_factor,hum_factor,human_factor,task_assigned,task_assigned,hazsub,fat_cause,fall_ht
0,220982664,8/10/2017,"At 9:00 a.m. on August 10, 2017, an employee w...",EMPLOYEE'S FINGERS AMPUTATED WHILE OPERATING A...,"FINGER,MECHANICAL POWER PRESS,AMPUTATION,GUARD",0,,0,,0,...,Caught in or between,2,Catch Point/Puncture Action,14,Other,1,Regularly Assigned,0,0,0
1,220973937,7/17/2017,"At 9:45 a.m. on July 17, 2017, an employee was...",EMPLOYEE'S FINGER IS CAUGHT IN DRILL AND IS AM...,"CAUGHT IN,DRIVE SHAFT,RESIDENTIAL CONSTRUCTION...",H,Other building,1,1,0,...,Caught in or between,18,Other,10,Position Inappropriate For Task,1,Regularly Assigned,0,0,0
2,220967632,6/30/2017,"At 7:30 a.m. on June 30, 2017, an employee was...",EMPLOYEE IS HOSPITALIZED AFTER BEING INJURED I...,"AMPUTATED,EXPLOSION,FIREWORKS",0,,0,,0,...,Other,18,Other,4,Malfunction In Securing/Warning Op,2,Not Regularly Assigned,0,0,0

In [ ]:
df['proj_type'].value_counts()

0    3767
A     568
B     262
C     159
D      49
E      42
Name: proj_type, dtype: int64